@import "../index.css";

.polaroid-container {
  width: 18rem;
  height: 24rem;
}

.polaroid-img {
  padding: 20px;
  height: 250px;
}

.polaroid-body {
  text-align: left;
}

.polaroid-title {
  font: 20px; 
  margin: 0px 20px 10px 10px; 
  color: var(--light);
}